body { margin: 0px; text-align: center; font-family: 'Merriweather', serif;}
h1{ margin: 50px auto 0 auto; font-family: 'Sacramento', cursive; font-size: 5rem; color: #66BFBF;}
h2 {font-size: 1.5rem; color: #66BFBF; font-weight: normal;}
h3 {color: #11999E;}
.footer-link {color: #11999E;}
.heading {background-color: #e8ffff; position: relative; padding-top: 100px;}
.html {width: 25%; float: left; padding-right: 20px;}
.css {width: 25%; float: right; padding-left: 20px;}
.upperc {position: absolute; right: 300px; top: 50px;}
.lowerc {position: absolute; left: 300px; bottom: 300px;}
.skill-row {width: 50%; margin: 100px auto 100px auto; text-align: left; line-height: 2;}
.middle-container {margin: 100px auto 100px auto;}
hr {border: dotted; width: 6px; margin: 100px auto 100px auto; color:#66BFBF; border-bottom: none; width: 4%;}
.p {color: #40514E;}
.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 23px;
    font-weight: 100;
    padding: 13px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 60px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container {background-color:#66BFBF; padding: 50px 0 20px 0;}
 .footer-link {padding-right: 30px; color: #11999E; text-decoration: none;}
 .footer-link:hover {color: #EAF6F6;}
 .end {color: #EAF6F6; padding-top: 20px; padding-bottom: 0;}